<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Mosaic Site</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/style.js"></script>
    
</head>
<body>
    <div class="text">
        <h2>Face Mosaic Site</h2>
        <p>Select and send the picture you want to change to a picture</p>
    </div>
    <div class="button" onmouseenter="">
        <p style="text-align: center;">Upload a picture and click change</p>
        <br>
        <form class = "upload" action = "/img" method = "POST" enctype = "multipart/form-data">
            <label class="input-file-button" for="button1" onchange="onInput()">UPLOAD</label>
            <input id = "button1" type="file" name = "file" onchange="onInput()"/>
            <input id = "button2" type="submit" value="change"/>
        </form>
    </div>
    
    <div class = "imgBox">
        <img class="img1" src="{{ path }}" width = "600" height = "auto" />
        <img class="img2" src="{{ face }}" width = "600" height = "auto" />
    </div>
</body>
<footer>
    <p>Semyung Computer High School Artificial Intelligence Software Department 2nd grade class 7 Park Sang-yeon</p>
</footer>
</html>